In [3]:
%run parsing.ipynb import comp_df, regs_df, regs_abb_df

# regs_df - quite clear df, as well as regs_abb_df
# there is question about comp_df

In [12]:
comp_df

                     Name                Industry        Country         ИНН
0                Aalberts             Industrials    Netherlands         NaN
1     Abbott Laboratories             Health Care  United States  7725594604
2                  Abbvie             Health Care  United States  7743855873
3                   Accor  Consumer Discretionary         France  7704662187
4               Accumalux  Consumer Discretionary     Luxembourg  6321413868
...                   ...                     ...            ...         ...
2018           HMD Global  Information Technology      Финляндия  7704376115
2019               Heroku  Information Technology            США         NaN
2020            Parallels  Information Technology            США  5406309261
2021             Qt Group  Information Technology       Норвегия         NaN
2022               Deeper  Information Technology          Литва  4909105167

[2023 rows x 4 columns]

In [5]:
comp_df.pop('Action')

0       continue operations on an unspecified "lower" ...
1                 suspend non-essential business activity
2       suspend aesthetics operations, pause new clini...
3                     suspend new investments/development
4              still operating plant in Togliatti, Russia
                              ...
2018                      приняла решение уйти с рынка РФ
2019    Облачная PaaS-платформа Heroku больше не регис...
2020    Компания по разработке программного обеспечени...
2021        ограничил доступ для российских пользователей
2022                   приостановил деятельность в России
Name: Action, Length: 2023, dtype: object

In [6]:
comp_df[1152:1210]

,Name,Industry,Country,ИНН
1152,Zurich Insurance Group,Financials,Switzerland,7707062854
1153,NaN,NaN,NaN,7707062854
1154,McDonald’s,Consumer Staples,NaN,7710044140
1155,Yum! Brands,Consumer Staples,NaN,NaN
1156,Lindt & Sprüngli,Consumer Staples,NaN,NaN
1157,Lavazza,Consumer Staples,NaN,7727553628
1158,Intel и AMD,Information Technology,NaN,NaN
1159,Twitch,Information Technology,NaN,NaN
1160,OnlyFans,Information Technology,NaN,NaN
1161,Vista Create,Information Technology,NaN,NaN
1162,Pexels,Information Technology,NaN,NaN
1163,Pixabay,Information Technology,NaN,NaN
1164,Google Pay,Information Technology,NaN,NaN
1165,Apple Pay,Information Technology,NaN,NaN
1166,Figma,Information Technology,NaN,9731051832
1167,PayPal,Financials,NaN,7750005796
1168,Moody’s,Financials,NaN,7714594218
1169,JP Morgan Chase,Financials,NaN,7740000076
1170,Mubadala,Financials,NaN,7017126251
1171,Saxo Bank,Financials,NaN,NaN
1172,Bloomberg,Financials,NaN,7704233195
1173,ASUS,Industrials,NaN,7702402151
1174,Suzuki,Industrials,NaN,7704558059
1175,Rolls-Royce,Industrials,NaN,7728849515
1176,Volkswagen Group,Industrials,NaN,7702349370
1177,General Motors,Industrials,NaN,5402059557
1178,Lamborghini,Industrials,NaN,NaN
1179,Infiniti,Industrials,NaN,7715847006
1180,Cartier,Consumer Staples,NaN,7714469048
1181,Reserved,Consumer Staples,NaN,1514018103
1182,Lush,Health Care,NaN,7714229906
1183,iHerb,Health Care,NaN,9710079940
1184,Watsons,Health Care,NaN,NaN
1185,L’Occitane,Consumer Staples,NaN,7707591760
1186,IKEA,Consumer Staples,NaN,5047076050
1187,Megogo,Consumer Discretionary,NaN,7703769593
1188,Universal Pictures,Consumer Discretionary,NaN,7703693915
1189,Walt Disney,Consumer Discretionary,NaN,7710608533
1190,Sony Pictures,Consumer Discretionary,NaN,7710744977
1191,Globo,Industrials,NaN,7728112810
1192,Ampol,Industrials,NaN,3906016728
1193,Viva Energy,Industrials,NaN,NaN
1194,Procter & Gamble Co,Health Care,NaN,7701032910
1195,Nurofen,Health Care,NaN,NaN
1196,Strepsils,Health Care,NaN,6671278333
1197,Cillit Bang,Health Care,NaN,NaN
1198,Vanish,Health Care,NaN,9710040822
1199,Durex,Health Care,NaN,NaN
1200,Volvo,Industrials,NaN,5047105054
1201,Peugeot,Industrials,NaN,7701534807
1202,PepsiCo,Consumer Staples,NaN,7705034202
1203,Mondelez International,Consumer Staples,NaN,7707778655
1204,Cитимобил,Consumer Discretionary,NaN,7724365672
1205,Samsung Pay,Information Technology,NaN,NaN
1206,Adsense,Communication Services,США,NaN
1207,DMarket,Financials,США,NaN
1208,BTC-Alpha,Financials,Великобритания,NaN
1209,QMall,Financials,Украина,NaN

In [7]:
import re

def has_cyrillic(text):
    return bool(re.search('[\u0400-\u04FF]', text))

In [8]:
print('Number of all countries:', len(comp_df['Country'].tolist()))
print('Number of unique countries:', len(comp_df['Country'].unique().tolist()))

Number of all countries: 2023
Number of unique countries: 107

In [9]:
comp_df['Country'].unique().tolist()

['Netherlands',
 'United States',
 'France',
 'Luxembourg',
 'Slovenia',
 'Switzerland',
 'Andorra',
 'Austria',
 'Spain',
 'United Kingdom',
 'Germany',
 'Finland',
 'Italy',
 'China',
 'Estonia',
 'Canada',
 'Poland',
 'Portugal',
 'Latvia',
 'Belgium',
 'Denmark',
 'Australia',
 'Japan',
 'Mexico',
 'Cyprus',
 'Greece',
 'Czech Republic',
 'Hong Kong',
 'Iceland',
 'India',
 'Singapore',
 'Bermuda',
 'Liechtenstein',
 'Lithuania',
 'Slovakia',
 'United Arab Emirates',
 'Norway',
 'Hungary',
 'Israel',
 'Sweden',
 'Taiwan',
 'Kazakhstan',
 'Malta',
 'Azerbaijan',
 'Malaysia',
 'Romania',
 'Bulgaria',
 'Ukraine',
 'Brazil',
 'South Korea',
 'Ireland',
 'Monaco',
 'Croatia',
 'Sri Lanka',
 'Vietnam',
 'New Zealand',
 'South Africa',
 'Belarus',
 'Panama',
 nan,
 'США',
 'Великобритания',
 'Украина',
 'США, Великобритания',
 'Испания',
 'Италия',
 'Япония',
 'Германия',
 'Нидерланды',
 'Франция',
 'Венгрия',
 'Польша',
 'Норвегия',
 'Сингапур',
 'Швейцария',
 'Малайзия',
 'Швеция',
 'Австралия',
 'Ирландия',
 'Кипр',
 'Россия',
 'Южная Корея',
 'Тайвань',
 'Канада',
 'Дания',
 'Финляндия',
 'Эстония',
 'Люксембург',
 'Каймановы острова',
 'Латвия',
 'Мальта',
 'Чехия',
 'Worldwide',
 'Литва',
 'Болгария',
 'Корея',
 'Ангилья',
 'Новая Зеландия',
 'Словакия',
 'Европейский союз',
 'Израиль',
 'Индия',
 'Китай',
 'Гонконг',
 'Беларусь',
 'Молдова',
 'Швеция, Швейцария']

In [10]:
comp_df[comp_df['Country'] == 'Швеция, Швейцария']

     Name     Industry            Country         ИНН
2015  АВВ  Industrials  Швеция, Швейцария  5837009706

In [11]:
print(comp_df.isnull().sum())
print('Overall\t', comp_df.isnull().sum().sum())

Name          1
Industry    548
Country     238
ИНН         849
dtype: int64
Overall	 1636